/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: #f0efef;
  font-size: 26px;
  line-height: 1.4;
  color: #606161;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
}
a {
  text-decoration: none;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container {
  width: 960px;
  margin: 0 auto;
}
.logo {
  font-size: 48px;
  font-weight: 800;
}

header {
  background: #033048;
  padding: 25px 0;
  overflow: hidden;
}
header .logo {
  color: #fff;
  float: left;
}

header nav {
  float: right;
  margin-top: 15px;
}
header nav ul li {
  display: inline-block;
  margin: 0 0 0 40px;
  font-size: 24px;
}
header nav ul li a {
  color: #f9e42e;
}

#hero {
  height: 700px;
  background: url(../images/header_bg.jpg) no-repeat top center #131e27;
  padding-top: 32px;
}

#hero .logo {
  color: #fff;
}
#hero h2 {
  font-size: 48px;
  text-align: center;
  color: #fff;
  margin: 120px 0 90px;
  font-weight: 600;
}
.button {
  border-radius: 5px;
  font-weight: 800;
  padding: 12px 0;
  width: 280px;
  font-size: 28px;
  text-align: center;
  display: block;
  margin: 0 auto;
}
.yellow {
  background: #f9e42e;
  color: #033048;
}
.blue {
  background: #033048;
  color: #fff;
  font-size: 24px;
}
#benefits {
  padding: 100px 0 80px;
}
h3 {
  color: #033048;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 40px;
}
#benefits p, #benefits ul {
  width: 600px;
}
#benefits ul {
  list-style: disc;
  margin: 30px 0 0 80px;
}
#testimonial {
  background: url(../images/testimonial_bg.jpg) no-repeat top center #071324;
  padding: 70px 0 70px;
  color: #fff;
}
blockquote {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  width: 580px;
  margin: 0 auto;
}
blockquote span {
  font-weight: 600;
  display: block;
  font-style: normal;
}
#main {
  margin-top: 80px;
}
#posts {
  width: 700px;
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
}
#sidebar {
  width: 240px;
  display: inline-block;
  vertical-align: top;
}
.post {
  border-bottom: 1px solid #043049;
  padding-bottom: 40px;
  margin-bottom: 40px;
}
.post h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 1.3;
  margin-bottom: 30px;
}
.post h2 a {
  color: #043049;
}

.post img {
  margin-bottom: 30px;
}
.post p {
  font-size: 24px;
  line-height: 1.333;
  color: #606161;
}
.post p:first-of-type:first-letter {
  float: left;
  font-size: 80px;
  line-height: 65px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  font-weight: 600;
}
.readmore {
  text-align: right;
  margin-top: 30px;
}
.readmore a {
  color: #043049;
  font-weight: 600;
}

/*.button {
  border-radius: 5px;
  font-weight: 800;
  padding: 12px 0;
  width: 280px;
  font-size: 28px;
  text-align: center;
  display: block;
  margin: 0 auto;
}
.yellow {
  background: #f9e42e;
  color: #033048;
}
.blue {
  background: #033048;
  color: #fff;
  font-size: 24px;
}*/

#sidebar h3 {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 15px;
  color: #043049;
}
#sidebar ul {
  margin-bottom: 40px;
}
#sidebar ul li a {
  color: #043049;
  font-size: 24px;
}
#sidebar p {
  font-size: 22px;
  line-height: 1.1;
  margin-bottom: 40px;
}
#sidebar p a {
  color: #043049;
  font-weight: 600;
}

#bottom-cta {
  background: #f9e42e;
  padding: 30px;
  text-align: center;
}

footer {
  background: #121212;
  padding: 65px 0 45px;
  text-align: center;
}
footer .logo {
  color: #f9e42e;
  margin-bottom: 68px;
}
footer ul li {
  display: inline-block;
  list-style: none;
  margin: 0 26px 75px;
}
footer p {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
}


/*
@media only screen and (min-width: 1000px) {

    .index .container {
      width: 90%;
  }

}
*/

@media only screen and (max-width: 1000px) and (min-width: 768px) {

  .container {
      width: 90%;
  }

    header nav {
      margin-top: 1rem;
  }
}

@media only screen and (max-width: 768px) and (min-width: 480px) {

  .container {
    width: 90%;
  }
 
  .container h1 {
    font-size: 2.5rem;
  }

  .container li {
    font-size: 1.25rem;
    margin-left: 0.8rem;
  }

  header nav{
    margin-top: 0.5rem;
  }

  #hero .container h2 {
    font-size: 2.5rem;
  }

  #hero {
    height: 500px;
  }

  #benefits {
    padding-top: 50px;
  }

  #hero .container h2 {
    margin-top: 90px;
    margin-bottom: 90px;
  }
   
  .container h3 {
    font-size: 2rem;
  }

  .container p {
    font-size: 1.3rem;
  }

  #benefits p {
    width: 480px;
  }

  #benefits li {
    width: 360px;
    padding-right: 20px;
  }

  .button {
    font-size: 1.5rem;
    width: 14rem;
  }

  blockquote {
    width: 90%;
    font-size: 1.8rem;
  }

  footer .logo {
    font-size: 2.5rem;
  }

}

@media only screen and (max-width: 480px) and (min-width: 0px) {

  .container {
    width:90%; 
  }

  .container h1 {
    font-size: 2rem;
  }

  .container li {
    font-size: 1rem;
    margin-left: 0.8rem;
  }

  header nav {
    margin-top: 0px;
  }

  #hero .container h2 {
    font-size: 2rem;
  }

  .container h3 {
    font-size: 1.5rem;
  }

  #benefits {
    padding-top: 30px;
  }
   
  .button {
    font-size: 1rem;
    width: 8rem;
  }

  .container p {
    font-size: 1rem;
  }

  #benefits p {
    width: 400px;
  }

  #benefits li {
    width: 360px;
    padding-right: 20px;
  }

  #benefits ul {
    margin-left: 20px;
  }
  #hero {
    height: 400px;
  }

  #hero .container h2 {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  blockquote {
    width: 90%;
    font-size: 1.3rem;
  }

  footer .logo {
    font-size: 2rem;
  }
}



/* blog page */
@media only screen and (max-width: 1000px) and (min-width: 768px) {

  #posts {
    width: 75%;
    padding-right: 3%;
    margin-right: 0%;
  }

  #main {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  #main .container {
    width: 100%;
  }

  .post img {
    width: 100%;
  }

  .post h2 {
    font-size: 2rem;
  }

  .post p {
    font-size: 1.3rem;
  }

  #sidebar {
    width: 25%;
  }

  #sidebar h2 {
    font-size: 1.5rem;
  }

  #sidebar ul li a {
    font-size: 1.25rem;
  }

  #sidebar p {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 768px) and (min-width: 480px) {

  #main {
    margin-top: 2rem;
  }

  #main {
    width: 460px;
    margin-left: auto;
    margin-right: auto;
  }

  #main .container {
    width: 100%;
  }

  #posts {
    margin-right: 0px;
    width: 100%;
  }

  .post h2 {
    text-align: center;
    font-size: 1.8rem;
  }

  #posts img {
    width: 100%;
  }

  #sidebar img {
    height: 200px;
  }

  #sidebar {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
  }

}

@media only screen and (max-width: 480px) and (min-width: 10px) {

  #main {
    margin-top: 1rem;
  }

  #main {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
  }

  #main .container {
    width: 100%;
  }

  #posts {
    margin-right: 0px;
    width: 100%;
  }

  .post h2 {
    text-align: center;
    font-size: 1rem;
  }

  #posts img {
    width: 100%;
  }

  #sidebar img {
    height: 130px;
  }

  #sidebar {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
  }

   #sidebar h2 {
    font-size: 1.25rem;
  }

  #sidebar ul li a {
    font-size: 1rem;
  }

  #sidebar p {
    font-size: 0.8rem;
  }
}
